extends layout

block content
    h1=resource
    p Now the resource we have


    form(action="/resource/create" method="POST")
        input(type="text" name="name" placeholder="Enter your name")
        input(type="email" name="email" placeholder="Enter your email")
        input(type="text" name="plane" placeholder="Enter your plane")
        input(type="text" name="plane_address" placeholder="Enter your address")
        input(type="checkbox" name="plane_level" id="cboxA") 
        label(for="cboxA") A
        input(type="checkbox" name="plane_level" id="cboxB") 
        label(for="cboxB") B
        input(type="checkbox" name="plane_level" id="cboxB") 
        label(for="cboxC") C
        input(type="text" name="flm_rtd" placeholder="Enter your flame retardant")
        button(type="submit") Register your help