
doctype html
html(lang='en')
    include common/head.pug
    +head("Register")
    body

        header
            include common/navbar.pug
            +navbar()


            .container
                .row.align-items.center 
                    .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
                        h1=resource
                        h2 Providing their helping resource


                        form(action="/resource/create" method="POST")

                            div 
                                h4 Name:
                                input(type="text" name="name" placeholder="Enter your name").form-control
                                br
                            div
                                h4 Email:
                                input(type="email" name="email" placeholder="Enter your email").form-control
                                br
                            div
                                h4 Plane:
                                input(type="text" name="plane" placeholder="Enter your plane").form-control
                                br
                            div
                                h4 Plane address:
                                input(type="text" name="plane_address" placeholder="Enter your address").form-control
                                br
        
                            div
                                h4 Flame retardant
                                input(type="text" name="flm_rtd" placeholder="Enter your flame retardant").form-control
                                br
                                button(type="submit").btn.btn-primary Register your help
        include common/footer.pug
        +footer()
        