mixin navbar()
    nav.navbar.navbar-expand.navbar-light.bg-light
        a(href="/" aria-label="Golden Goose").navbar-brand.mr-0.mr-md-2
            
        .collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/") Home
                li.nav-item
                    a.nav-link(href="/resource") Register
                li.nav-item
                    a.nav-link(href="/resource/create") Resources